
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
      <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span area-hidden="true">&times;</span>
          </button>
          <h2 class="modal-title">Creación de Autor</h2>

      </div>
      <form action="{% url 'libro:crear_autor' %}" method="POST">
          {% csrf_token %}
          <div class="modal-body">
              <div class="row form-group">
                  <div class="col col-md-3"><label for="text-input" class=" form-control-label">Nombres</label></div>
                <div>{{form.nombre}}</div>                      
              </div>
              <div class="row form-group">
                  <div class="col col-md-3"><label for="text-input" class=" form-control-label">Apellidos</label></div>
                <div>{{form.apellidos}}</div>                      
              </div>
              <div class="row form-group">
                  <div class="col col-md-3"><label for="text-input" class=" form-control-label">Nacionalidad</label></div>
                <div>{{form.nacionalidad}}</div>                      
              </div>
              <div class="row form-group">
                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Descripción</label></div>
              <div>{{form.descripcion}}</div>                      
            </div>
          </div>
          <div class="modal-footer">
              <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
              <button class="btn btn-primary" type="submit">Confirmar</button>
          </div>
      </form>
      
  </div>
</div>
