
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span area-hidden="true">&times;</span>
            </button>
            <h2 class="modal-title">Creación de Usuario</h2>
  
        </div>
        <form action="{% url 'editar_usuario' object.id%}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                {{form}}
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" type="submit">Confirmar</button>
            </div>
        </form>
        
    </div>
  </div>
  