{% extends 'index.html' %}
{% load static %}

{% block titulo %}
  Biblioteca.dev | Listado de Usuarios
{% endblock titulo %}


{% block body %}

<button type="button" class="btn btn-success" onclick="abrir_modal_creacion('{% url 'crear_usuario' %}');"> Registar Autor</button>  


{% if usuarios %}
        <div class="card">
          <div class="card-header">
            <strong class="card-title">Listado de Usuarios</strong>
          </div>
          <div class="table-stats order-table ov-h">
            <table class="table">
                    <thead>
                      <tr>
                        <th>Username</th>
                          <th>Nombres</th>
                          <th>Apellidos</th>
                          <th>Email</th>
                          <th>Es staff</th>
                          <th>Opciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for usuario in usuarios %}
                        <tr>
                          <td>{{ usuario.username }}</td>
                          <td>{{ usuario.nombres }}</td>
                          <td>{{ usuario.apellidos }}</td>
                          <td>{{ usuario.email }}</td>
                          <td>{{ usuario.usuario_administrador }}</td>
                          <td>
                            <button type="button" class="btn btn-primary" onclick="abrir_modal_edicion('{% url 'editar_usuario' usuario.id %}')">Editar</button>
                            <button onclick="abrir_modal_eliminar('{% url 'eliminar_usuario' usuario.id %}')" class="btn btn-danger">Eliminar</button>

                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                </table>
              </div>
            </div>
            {% else %}
            <h1>No existen usuarios registrados</h1>
            {% endif %}
            

            

            
      <div class="modal fade" id="creacion" role="dialog"> </div>
      <div class="modal fade" id="edicion" role="dialog"></div>
      <div class="modal fade" id="eliminacion" role="dialog"></div>

      {% block extrajs %}
      <script src = "{% static 'js/usuarios/index.js' %}"></script>
      <script>

        const $ = jQuery.noConflict();
        
        function abrir_modal_edicion(url){
          $('#edicion').load(url, function(){
              $(this).modal('show');
          })
        };  
        
        function abrir_modal_creacion(url){
          $('#creacion').load(url, function(){
              $(this).modal('show');
          })
        };
        
        function abrir_modal_eliminar(url){
          $('#eliminacion').load(url, function(){
              $(this).modal('show');
          })
        };

        
    
        </script>
        

      {% endblock extrajs %}
            {% endblock body %}