<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span area-hidden="true">&times;</span>
            </button>
            <h2 class="modal-title">Edición del libro {{object}}</h2>

        </div>
        <form action="{% url 'libro:editar_libro' object.id %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Título</label></div>
                  <div>{{form.titulo}}</div>                      
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Fecha de publicación</label></div>
                  <div>{{form.fecha_publicacion}}</div>                      
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Autor</label></div>
                  <div>{{form.autor_id}}</div>                      
                </div>
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" type="submit">Confirmar</button>
            </div>
        </form>
        
    </div>
</div>